* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px auto;
}
#episodes-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.card {
  width: 20vw;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  gap: 10px;
  box-shadow: 10px 5px 5px grey;
}

.name-of-episode {
  height: 5vh;
  color: blue;
  font-style: italic;
}