* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 10px auto;
}
#episodes-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.card {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 10px 5px 5px grey;
}

.name-of-episode {
  height: 5vh;
  color: blue;
  font-style: italic;
}

/* search bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.selector-search-display-wrapper{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0px;
  align-items: center;
}

.search-wrap{
  width: 30%;
}


.hide {
  display: none;
}